extend layout 

block content 
    h1 #(title)
    p Math.atan() is being applied to #{num1} and #{num2} is #{atan}
    p Math.exp() is being applied to #{num3} is #{exp}
    p Math.expm1() is being applied to #{num4} is #{expm1}